html {
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    justify-items: stretch;
    background-color: gray;
}

body {
    background-color: lightgrey;
}

.header-links {
    padding: 10px;
}


h1 {
    text-decoration: underline;
    font-family: fantasy;
    font-weight: bolder;
}

h2 {
    text-decoration: underline;
    font-family: fantasy;
    font-weight: bolder;
}

p {
    font-family: fantasy;
}

ul {
    list-style-type: none;
}

li {
    padding: 15px;
    font-family: fantasy;
}

#gallery {
    display: grid;
    grid-template-areas: none;
}
