html {
    align-content: center;
}

header {
    display: flex;
    justify-content: space-evenly;
}

.header-links {
    padding: 10px;
}

body {
    background-color: gray;
}

h1 {
    text-decoration: underline;
    font-family: fantasy;
    font-weight: bolder;
}

h2 {
    text-decoration: underline;
    font-family: fantasy;
    font-weight: bolder;
}

p {
    font-family: fantasy;
}

li {
    padding: 15px;
    font-family: fantasy;
}


