html {
    text-align: center;
}

body {
    background-color: lightgrey;
    display: flex;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: stretch;
    background-color: gray;
    padding-bottom: 10px;
}

.header-links {
    padding: 10px;
}


h1 {
    text-decoration: underline;
    font-family: fantasy;
    font-weight: bolder;
    padding: 10px;
}

h2 {
    text-decoration: underline;
    font-family: fantasy;
    font-weight: bolder;
}

p {
    font-family: fantasy;
}

ul {
    list-style-type: none;
}

li {
    padding: 7px;
    font-family: fantasy;
}

#factlist {
    list-style-type: armenian;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: stretch;
}

#gallery a {
    margin: 15px;
}